[Desktop Entry]
Name=Stack Folder
Name[bs]=Stek fascikla
Name[da]=Mappestak
Name[de]=Ordnerstapel
Name[el]=Στοίβα φακέλων
Name[es]=Apilar carpeta
Name[et]=Kataloogipinu
Name[fr]=Présentoir
Name[ga]=Fillteán Cruaiche
Name[gl]=Amontoar o cartafol
Name[hu]=Verem mappa
Name[km]=ដាក់​ថត​ជា​ជង់
Name[mr]=स्टेक संचयीका
Name[nl]=Map stapelen
Name[pl]=Katalog stosu
Name[pt]=Empilhar a Pasta
Name[pt_BR]=Empilhar a pasta
Name[ro]=Dosar-stivă
Name[ru]=Стековая папка
Name[sk]=Priečinok zásobníka
Name[sv]=Stapla katalog
Name[tr]=Yığın Klasörü
Name[uk]=Стос тек
Name[x-test]=xxStack Folderxx
Comment=Browse the stack of folders
Comment[bs]=Potraži stek fascikli
Comment[da]=Gennemse mappestakken
Comment[de]=Ordnerstapel durchsuchen
Comment[el]=Περιηγηθείτε στη στοίβα των φακέλων
Comment[es]=Examinar la pila de carpetas
Comment[et]=Kataloogipinu sirvimine
Comment[fr]=Parcourt la pile de dossiers
Comment[ga]=Brabhsáil an chruach fillteán
Comment[gl]=Examinar a morea de cartafoles
Comment[hu]=A mappák vermének böngészése
Comment[km]=រកមើល​ជង់​ថត
Comment[mr]=स्टेक संचयीका संचारण करा
Comment[nl]=Blader door de stapel mappen
Comment[pl]=Przeglądaj stos katalogów
Comment[pt]=Navegar pela pilha de pastas
Comment[pt_BR]=Navegue a pilha de pastas
Comment[ro]=Răsfoiește stiva de dosare
Comment[ru]=Просмотр стека папок
Comment[sk]=Prehliadať zásobník priečinkov
Comment[sv]=Bläddra i katalogstapeln
Comment[tr]=Klasör yığınları arasında gezinin
Comment[uk]=Перегляд стосу тек
Comment[x-test]=xxBrowse the stack of foldersxx
Type=Service
Icon=folder
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-DropMimeTypes=inode/directory

X-KDE-Library=plasma_applet_stackfolder
X-KDE-PluginInfo-Author=Ural Mullabaev
X-KDE-PluginInfo-Email=support@rosalab.ru
X-KDE-PluginInfo-Name=stackfolder
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
