[Desktop Entry]
Name=Stack Folder
Name[da]=Stakmappe
Name[de]=Ordnerstapel
Name[el]=Στοίβα φακέλων
Name[es]=Apilar carpeta
Name[et]=Kataloogipinu
Name[fr]=Présentoir
Name[hu]=Verem mappa
Name[km]=ដាក់​ថត​ជា​ជង់
Name[nl]=Map stapelen
Name[pl]=Katalog stosu
Name[pt]=Empilhar a Pasta
Name[pt_BR]=Pasta em pilha
Name[sk]=Priečinok zásobníka
Name[sv]=Stapla katalog
Name[uk]=Стос тек
Name[x-test]=xxStack Folderxx
Comment=Browse the stack of folders
Comment[da]=Gennemse en stak af mapper
Comment[de]=Ordnerstapel durchsuchen
Comment[el]=Περιηγηθείτε στη στοίβα των φακέλων
Comment[es]=Explorar la pila de carpetas
Comment[et]=Kataloogipinu sirvimine
Comment[fr]=Parcourt la pile des dossiers
Comment[hu]=A mappák vermének böngészése
Comment[km]=រកមើល​ជង់​ថត
Comment[nl]=Blader door de stapel mappen
Comment[pl]=Przeglądaj stos katalogów
Comment[pt]=Navegar pela pilha de pastas
Comment[pt_BR]=Navegue a pilha de pastas
Comment[sk]=Prehliadať zásobník priečinkov
Comment[sv]=Bläddra i katalogstapeln
Comment[uk]=Перегляд стосу тек
Comment[x-test]=xxBrowse the stack of foldersxx
Type=Service
Icon=folder
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-DropMimeTypes=inode/directory

X-KDE-Library=plasma_applet_stackfolder
X-KDE-PluginInfo-Author=Ural Mullabaev
X-KDE-PluginInfo-Email=support@rosalab.ru
X-KDE-PluginInfo-Name=stackfolder
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
